h2 {
  color : white;
}

body {
  background-color: #212121;
}

.mdc-button {
  background-color: #95989A;
}

.text-button {
  height: auto;
  width: 30em;
  text-align: justify;
  line-height: 1.5em;
}
