/* Ensure layout covers the entire screen. */

html {
    height: 100%;
}
/* Stack toolbar and content on top of each other. */

.main-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
/* Place drawer and main next to each other. */

.main-content {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.main {
    color: black;
    padding-top: 70px;
    padding-left: 16px;
    background-color: white;
}

.list-group-content {
    padding-top: 50px;
    text-align: center;
}

.demo-surface {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 2rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.content-center {
  padding-left: 20px;
}

.mdc-toolbar {
  background-color: #212121;
}

.mdc-permanent-drawer {
  min-width: 200px;
  max-width: 200px;
}

.mdc-toolbar__title {
  padding-top: 10px;
}

.mdc-button {
  background-color: #95989A;
}

button.demo-surface {
    display: inline-block;
    /* Safari does not center button text otherwise :( */
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.portrait {
  width:150px;
  height:150px;
  margin-top: auto;
}
